$black: #000000;
$white: #ffffff;

$gray-1: #F0F0F0;
$gray-2: #E5E5E5;
$gray-3: #CCCCCC;
$gray-4: #B2B2B2;
$gray-5: #999999;
$gray-6: #7F7F7F;
$gray-7: #666666;
$gray-8: #4C4C4C;
$gray-9: #333333;
$gray-10: #191919;

$brand-orange: #FF7223;
$brand-yellow: #FFCF26;

$other-blue: #3685B3;
$other-green: #009E0D;
$other-red: #FF3D00;
