.container {
  margin: 0 auto;
  text-align: center;
}

.title {
  text-align: center;
}

.category {
  margin-top: 10px;
}

.commentary {
  font-size: 16px;
  line-height: 130%;
  font-weight: 400;
  color: var(--color-gray-5);
  margin-bottom: 50px;
  overflow-wrap: break-word;
}

.btnEdit {
  margin-bottom: 25px;
}
