@import "src/modules/styles/mixins";

.group {
  @include a;

  display: flex;
  justify-content: space-evenly;
}

.input {
  display: none;

  &:checked + .label {
    color: var(--color-black);
    background-color: var(--color-brand-yellow);
  }
}

.label {
  display: inline-block;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 10px;
  user-select: none;
  color: var(--color-gray-6);
  background-color: var(--color-gray-1);
  transition: color 250ms ease-in-out;

  &:hover {
    color: var(--color-black);
  }

  &:active {
    transform: scale(0.96);
  }
}
