.container {
  background-color: white;
}

.title {
  text-align: center;
}

.form {
  display: grid;
  grid-gap: 25px;
  width: 315px;
  margin: 0 auto;
}

.navigate {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 35px;

  &__link {
    margin-right: 20px;
  }
}
